<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>

<body>
  <h1>Cadastro Cliente</h1>
  <form action="/usuario/cadastrar" method="POST">
    <input type="text" placeholder="Digite o nome do cliente" id="nome" name="nome"> <br>
    <input type="text" placeholder="Digite o email do cliente" id="email" name="email">
    <button> Cadastrar</button>
  </form>

</body>

</html>